################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Compress_Breaker/obj/Debug
/.vs/Compress_Breaker/v16
/Core/obj/Debug
/Test/bin/Debug
/Test/obj/Debug
